body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.datos,
.principal {
    float: left;
    padding: 0;
    margin: 0;
    text-align: justify;
}

.datos {
    width: 20%;
    padding-right: 5%;
    margin: 0;
    border: 0;
}

.principal {
    width: 75%;
}

.contenido {
    list-style: none;
    padding: 0;
}

.contenido li {
    float: left;
    width: 30%;
    padding-right: 3%;
}