body {
    background: #ecf0f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #F96A2D;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
    text-align: left;
}

dl dt {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-style: oblique;
}

dl dd {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75%;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #3498db;
}

nav a {
    color: #ecf0f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 250%;
    text-decoration-line: none;
    border: 52px;
    margin-left: 1%;
    margin-right: 1%;
}

nav a:hover {
    color: #e67e22;
    text-decoration-line: underline;
    background: #EBF2FA;
    border-radius: 50%;
}

nav a:active {
    color: #EBF2FA;
    text-decoration-line: underline;
    background: #e74c3c;
    border-radius: 50%;
}

section p {
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
}

iframe {
    width: 90%;
    margin: 5%;
}

table {
    text-align: center;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
}

th {
    background: #DC4505;
    color: #FFFFFF;
}

td {
    color: #FFFFFF;
    background: #F97740;
}

form {
    text-align: justify;
    margin: 2%;
}

form input {
    margin: 1%;
}

footer {
    background: #EBF2FA;
    color: #427AA1;
}

.turismo img {
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-right: 15%;
}